@import "signature.css";
@import "p1.css";
@import "title.css";
@import "commons.css";

body
{
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    background-color: #E5E5E5;
}

main
{
    margin: 4vw;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    background-color: beige;
}

