@import "signature.css";
@import "p1.css";
@import "title.css";
@import "commons.css";
@import "image1.css";

body
{
    padding: 2vw;
    margin: 0;
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.container
{
    background-color: beige;
}

